<div class="container-fluid">
    
    <form action="">
        <div class="form-inlinee">
            <div class="text">
                <a href="/"><img src="assets/img/logoCTS.jpg" alt="logoCTS" style="width:100%;"></a>    
            </div>
            <div class="icon">
                <div class="form-inline">
                    
                    
                    <div class="search">
                        <input type="text" class="form-control input-sm" maxlength="64" placeholder="  Bạn muốn kiếm gì"  />
                        <a type="submit" class="btn"><i class="fas fa-search"></i></a>
                    </div>

                    <div class="cart">
                        <div class="cart-center">
                            <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="email">
                        <div class="email-center">
                           <a href=""> <i class="fas fa-envelope-open-text"></i></a>
                        </div>
                    </div>
                    <div class="account">
                        <div class="account-center">
                           <a href="/login"> <i class="fas fa-user-circle"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-custom">
            <ul class="nav navbar effect">
                <li><a href="/product">SẢN PHẨM</a></li>
                <li><a href="/age">ĐỘ TUỔI</a></li>
                <li><a href="/gender">GIỚI TÍNH</a></li>
                <li><a href="/sale-product">KHUYẾN MÃI</a></li>
                <li><a href="/product-new">HÀNG MỚI</a></li>
                <li><a href="/member-cart">THƯƠNG HIỆU</a></li>
            </ul>
        </div>
    </nav>
</div>
