footer{
    margin-top: 20px;
    height: 300px;
    font-size: 20px;
    .p-4{
        background-color: rgb(65, 59, 55);
    }
    .button-size{
        height: 34px;
        
    }
    a{
        text-decoration: none;
        font-weight: 200px;
    }
    .text-uppercase{
        text-decoration:underline;
    }
    button::after{
        position: relative;
        right: 0px;
        content: '';

    }
}