<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
           <h3>Đăng nhập</h3>
         
        </div>
        <form action="">
            <input type="text" name="login" id="login" class="fadeIn second" placeholder="Nhập tài khoản">
            <input type="password" name="login" id="password" class="fadeIn third" placeholder="Nhập mật khẩu">
            <input type="submit" class="fadeIn fourth" value="Đăng nhập">
        </form>
        <div id="formFooter">
            <a href="/forget-pass" class="underLineHover">Quên mật khẩu ?</a>
        </div>
    </div>
</div>
