<app-title-box></app-title-box>
<div class="cart-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="table-main table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Images</th>
                              <th>Product Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Total</th>
                              <th>Remove</th>
                          </tr>
                      </thead>
                      <tbody>
                        <app-detail-item> </app-detail-item>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <app-coupon-code></app-coupon-code>
      <app-summary-box></app-summary-box>
  </div>
</div>
