<ul class="products">
        <li class="row" *ngFor="let saleProduct of saleProducts">
        <div class="col left">
            <div class="thumbnail">
            <a href="#">
                <img src="{{saleProduct.thumbnail}}" alt="" />
            </a>
            </div>
            <p>Showing all 4 results</p>
        </div>
    </div>

    <div class="row product-categorie-box">
        <div class="tab-content">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let saleProduct of saleProducts">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img src="./../../../assets/Image/SaleProduct-Image/{{saleProduct.thumbnail}}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">Add to Cart</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{saleProduct.name}}</h4>
                                <h5>{{saleProduct.priceToBuy}}</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="pagination justify-content-center">
                        <span *ngIf="pagination.indexPagination == 1; then trueCondition; else falseCondition"></span>
                        <ng-template #trueCondition>
                            <li class="page-item disabled" (click)="previousPage()">
                                <a class="page-link">Trang trước</a>
                            </li>
                        </ng-template>
                        <ng-template #falseCondition>
                        <li class="page-item" (click)="previousPage()">
                            <a class="page-link">Trang trước</a>
                        </li>
                        </ng-template>


                        <li class="page-item" *ngFor="let index of visiblePagesNumber">
                            <span *ngIf="pagination.indexPagination == index; then trueCondition1; else falseCondition1"></span>
                            <ng-template #trueCondition1>
                                <li class="page-item disabled">
                                    <a style="color: #337ab7; background-color: #ebebeb" (click)="indexPaginationChange(index)" class="page-link" >{{index}}</a>
                                </li>
                            </ng-template>
                            <ng-template #falseCondition1>
                                <li class="page-item">
                                    <a style="color: #337ab7;" (click)="indexPaginationChange(index)" class="page-link" >{{index}}</a>
                                </li>
                            </ng-template>
                        </li>


                        <li class="page-item" (click)= "nextPage()"> 
                            <a class="page-link" style="width: 107.3px; height: 37.6px; text-align: center;" >Trang kế</a>
                        </li>
                        </ul>
                    </div>
                    <!-- (onFistPage) = "fistPage()"
                    (onNextPage) = "nextPage()"
                    (onIndexPaginationChange) = "indexPaginationChange($event)" -->
                </div>
        </div>
    </li>
</ul>
