.main-product {
    margin-top: 10px;
    .sidebar {
        .sidebar-category {
            margin-top: 10px;
            .category-title {
                font-weight: bold;
                margin-left: 30px;
            }
            .list {
                li {
                    border-bottom: 1px solid crimson;
                    margin-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        color: rgb(255, 4, 54);
                      
                        transition: all .3s;
                    }
                    // a::after{
                    //     position: absolute;
                    //     top: 0px;
                    //     bottom: 0px;
                    //     right: 0px;
                    //     left: 0px;
                    //     content: "";
                    //     border-bottom: 1px solid black;

                    // }
                }
            }
        }
    }
    .product {
        .product-grid {
            ol {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                list-style: none;
                li {
                    padding: 10px 10px;
                    .product-info {
                        border: 1px solid rgb(170, 164, 163);
                        height: 100%;
                        .product-info-img {
                            // background-image: url("");
                            background-position: center center;
                            background-repeat: no-repeat;
                           
                        }
                        .product-info-details {
                            position: relative;
                            left: 20px;
                            top: -10px;
                            .product-name {
                                width: 80%;
                                a {
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.699);
                                    text-decoration: none; 
                                }
                            }
                            .product-price{
                                font-weight: 300px;
        
                            }
                            .product-available{
                                text-transform: uppercase;
                                color: rgb(231, 20, 20);
                            }
                        }
                    }
                }
            }
        }
    }
}
// .product-items{
//     padding-top: 20px;
// }