<section id="mainProduct" class="main-product">
    <div class="row">
        <div class="sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-category">

                <h3 class="category-title">DANH MỤC</h3>
                <ul class="list">
                    <li class="level"><a href="" title="Lego xếp hình">Lego xếp hình</a></li>
                    <li class="level"><a href="" title="Điều khiển từ xa">Điều khiển từ xa</a></li>
                    <li class="level"><a href="" title="Mô hình, nhân vật">Mô hình, nhân vật</a></li>
                    <li class="level"><a href="" title="Phụ kiện, đồ dùng">Phụ kiện, đồ dùng</a></li>
                </ul>
            </div>

            <div class="sidebar-category">
                <h3 class="category-title">ĐỘ TUỔI</h3>
                <ul class="list">
                    <li class="level"><a href="" title="Bé hơn 3 tuổi">Bé hơn 3 tuổi</a></li>
                    <li class="level"><a href="" title="Từ 3 đến 12 tuổi">Từ 3 đến 12 tuổi</a></li>
                    <li class="level"><a href="" title="Lớn hơn 12 tuổi">Lớn hơn 12 tuổi</a></li>
                </ul>
            </div>

            <div class="sidebar-category">
                <h3 class="category-title">GIỚI TÍNH</h3>
                <ul class="list">
                    <li class="level"><a href="" title="Bé nam">Bé nam</a></li>
                    <li class="level"><a href="" title="Bé nữ">Bé nữ</a></li>
                    <li class="level"><a href="" title="Unisex">Unisex</a></li>
                </ul>
            </div>

            <div class="sidebar-category">
                <h3 class="category-title">THƯƠNG HIỆU</h3>
                <ul class="list">
                    <li class="level"><a href="" title="LEGO">LEGO</a></li>
                    <li class="level"><a href="" title="VECTO">VECTO</a></li>
                    <li class="level"><a href="" title="BABY ALIVE">BABY ALIVE</a></li>
                    <li class="level"><a href="" title="BRUDER">BRUDER</a></li>
                </ul>
            </div>

        </div>
        <div class="product col-lg-9 col-md-9 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>