  <td class="thumbnail-img">
      <a href="#">
<img class="img-fluid" src="../../../assets/Image/SaleProduct-Image/{{order?.thumbnail}}" alt="" />
</a>
  </td>
  <td class="name-pr">
      <a href="#">{{order?.name}}</a>
  </td>
  <td class="price-pr">
      <p>{{order?.priceToBuy}}</p>
  </td>
  <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
  <td class="total-pr">
      <p>$ 80.0</p>
  </td>
  <td class="remove-pr">
      <a href="#">
<i class="fas fa-times"></i>
</a>
  </td>
